MetroExplorer/MetroExplorer.Components.CopyCutPanel/bin/
MetroExplorer/MetroExplorer.Components.CopyCutPanel/obj/
MetroExplorer/MetroExplorer.core/bin/
MetroExplorer/MetroExplorer.core/obj/
MetroExplorer/MetroExplorer/bin/
MetroExplorer/MetroExplorer/obj/
MetroExplorer/ComponentsTest/bin/
MetroExplorer/ComponentsTest/obj/
