<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="41404comisciencebo.MetroExplorer" Publisher="CN=7CC2A853-0A94-4DFB-9120-4E6F1563BE8C" Version="1.8.0.13" />
  <Properties>
    <DisplayName>Link File</DisplayName>
    <PublisherDisplayName>Surface Knight</PublisherDisplayName>
    <Logo>Assets\UnitTestStoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MetroExplorer.App">
      <VisualElements DisplayName="Link File" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Link File" ForegroundText="light" BackgroundColor="#1e90cd">
        <DefaultTile ShowName="allLogos" ShortName="Link File" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1e90cd" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="fd">
            <SupportedFileTypes>
              <FileType>.pdf</FileType>
              <FileType>.PNG</FileType>
              <FileType>.JPG</FileType>
              <FileType>.BMP</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.search" />
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
            <DataFormat>StorageItems</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="videosLibrary" />
    <Capability Name="removableStorage" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>